:root {
    --primary-color: #1a6bb3; /* Dark Blue */
    --secondary-color: #EEC784; /* Light Blue */
    --accent1-color: #1a1e1e; /* Light Gray */
    --accent2-color: #ffffff; /* Orange */
    --header-font: "rubik", sans-serif;
    --body-font: "montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, nav, footer{
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: start;
    overflow: hidden;
}

.logo-box img {
    width: 100px;
    height: auto;
    display: flex;
}

.nav-links {
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-links a {
    text-decoration: none;
    color: var(--accent2-color);
}

h1, h2 {
    font-family: var(--header-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 150px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

article {
    position: absolute;
    top: 100px;
    background-color: var(--secondary-color);
    opacity: 1;
    margin: 16px;
    padding: 8px;
}

.history {
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.history h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.history img {
    width: 200px;
    height: auto;
    padding: 10px;
    justify-self: center; 
    align-self: center; 
}

.adventure {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    overflow: auto;
    gap: .25rem;
}

.adventure h2 {
    grid-column: 1 / -1;
    margin: 20px;
}

.adventure img {
    display: flex;
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-evenly;
} 

footer p{
    align-self: center;
    justify-self: center;
}

.socialmedia a {
    text-decoration: none;
}

.wireframe {
    align-self: center;
    color: var(--secondary-color);
    text-decoration: none;
}

.socialmedia {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
}

form fieldset h1 {
    top: 0;
    padding: 10px;
    position: relative;
    background-color: #ffffff00;
    color: var(--primary-color);
    font-size: x-large;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 0.5rem;
    margin-top: 1rem;
}

.staff {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    /* overflow: auto; */
    gap: .25rem;
}

.staff h2 {
    grid-column: 1/-1;
    margin: 20px;   
}

.staff img {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: auto; 
}

form {
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    padding: .3rem;
    top: 0;
} 

label, input, button, select, textarea {
    font-family: roboto, arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1.1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1em;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    color: #fff;
    background-color: var(--primary-color);
    margin: 1rem;
    margin-left: 0;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--secondary-color);
}

.form-item p {
    font-weight: 700;
    margin: 1rem 0 1rem 0;
}

.column2 p {
    margin-bottom: 0;
    border-bottom-width: 1px;
} 

.address {
    margin-top: 1rem;
}

.address p {
    padding: .3rem;
}

.reason {
    padding-bottom: 1rem;
}

.map {
    margin-top: 40px;
    border-style: ridge;
}