.callout {
	max-width: 400px;
    margin: 10px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #247;
    color: #fff;
    position: relative;
}

.callout img {
    background-color: #bbb;
    border: 1px solid #000;
    float: right;
    height: auto;
    margin: 0 0 10px 15px;
    padding: 3px;
    width: 100px;
}

blockquote {
	margin: 20px;
}

cite {
	display: block;
    border-top: 1px dotted #fff;
    padding-bottom: 3px;
    font-size: smaller;
    text-align: right;
}

.child {
    font-size: 10px;
    position: absolute;
    right: 48px;
    top: 95px;
    color: lightgrey;
}
